---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=formatted_address,name,geometry&input=6631%20Beverly%20Blvd,Everett&inputtype=textquery&key=<google_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [
              {
                 "formatted_address" : "6631 Beverly Blvd, Everett, WA 98203, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 47.9368756,
                       "lng" : -122.2094365
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.93832377989272,
                          "lng" : -122.2083798201073
                       },
                       "southwest" : {
                          "lat" : 47.93562412010728,
                          "lng" : -122.2110794798927
                       }
                    }
                 },
                 "name" : "6631 Beverly Blvd"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 04 Apr 2023 00:57:34 GMT
recorded_with: VCR 6.1.0
