---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=foodtrucks&latitude=39.7392358&limit=20&locale=en_US&longitude=-104.990251&radius=20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-7fcc9c9bd7-2hqmv; site=public_api_v3
      X-Zipkin-Id:
      - 9a5c8a6c5fcfe11c
      Ratelimit-Resettime:
      - '2023-04-05T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '5000.0'
      Ratelimit-Remaining:
      - '4999.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-93-250-uswest2aprod
      X-Extlb:
      - 10-69-93-250-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "gN8o-SG2PgCQGYrOCkkqng", "alias": "liangs-thai-food-denver",
        "name": "Liang''s Thai Food", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/9_RGrE1oyWgDWu7pofvtPg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/liangs-thai-food-denver?adjust_creative=XaghGJ0FeP4n47CLhlhp1w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=XaghGJ0FeP4n47CLhlhp1w",
        "review_count": 425, "categories": [{"alias": "thai", "title": "Thai"}, {"alias":
        "foodtrucks", "title": "Food Trucks"}], "rating": 4.5, "coordinates": {"latitude":
        39.74521, "longitude": -104.9921817}, "transactions": ["delivery"], "price":
        "$", "location": {"address1": "16TH St And California St", "address2": "",
        "address3": "", "city": "Denver", "zip_code": "80202", "country": "US", "state":
        "CO", "display_address": ["16TH St And California St", "Denver, CO 80202"]},
        "phone": "+17208108693", "display_phone": "(720) 810-8693", "distance": 684.5032800923377},
        {"id": "DVZJwG1oy75Bn0zFVPnPtQ", "alias": "denver-doner-denver-2", "name":
        "Denver Doner", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/tupFzHXEhiU-TsL5x7Xtog/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/denver-doner-denver-2?adjust_creative=XaghGJ0FeP4n47CLhlhp1w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=XaghGJ0FeP4n47CLhlhp1w",
        "review_count": 167, "categories": [{"alias": "mediterranean",[...]
