---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=formatted_address,name,geometry&input=Denver&inputtype=textquery&key=<google_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [
              {
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "name" : "Denver"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 27 Mar 2023 20:43:59 GMT
recorded_with: VCR 6.1.0
